<% path = @transaction.persisted? ? transaction_path(@transaction) : transactions_path %>
<%= simple_form_for @transaction, url: path,
    html: { 'data-controller': 'transaction'},
    defaults: { wrapper_html: { class: 'col-sm' } } do |f| %>

  <%= f.error_notification %>

  <div class="form-row">
    <%= f.input :type_id, label: "Pul aylanmasi turi",
        collection: @transaction.class.type_ids,
        selected: @transaction.type_id_before_type_cast,
        input_html: {'data-action': 'change->transaction#update',
                     'data-target': 'transaction.type'} %>
    <%= f.input :date, as: :datepicker,
      input_html: { value: (@transaction.date || Date.today).strftime('%d.%m.%y')} %>
  </div>

  <%= f.association :account, as: :account, selected: (@transaction.account_id ||= 1),
    collection: Account.kept,
    wrapper: :hidden_account,
    leftover: currency_precise_number(@transaction.account.leftover, @transaction.account.currency, unit: true),
    leftover_data_target: 'account.leftover'
  %> <!-- TODO: Selected should be user default-->

  <div class="form-row">
    <%= f.input :counter_party do %>
      <%= f.select :counter_party_id,
          CounterParty.kept.map { |cp|
            [cp, cp.id, {'sup': ('' if cp.is_supplier),
                         'cus': ('' if cp.is_customer)}] },
          {},
          data: {
            custom_track: '',
            controller: 'counter-parties',
            target: 'transaction.counterParties',
            counter_parties_placeholder: t('helpers.select.prompt.default')
          } %>
    <% end %>
    <%= f.input :amount, as: :currency, wrapper_class: 'form-group w-sm-200', input_html: {
      value: currency_precise_number(@transaction.amount, @transaction.account&.currency)
    }%>
  </div>

  <div class="form-row" data-target="transaction.conversionHidden">
    <%= f.association :asked_currency, wrapper_class: 'form-group w-sm-200', required: false %>
    <%= f.input :rate, as: :currency, wrapper_class: 'form-group w-sm-200',
      input_html: {
        value: currency_precise_number(@transaction.rate, @transaction.account.currency)
    }%>
  </div>

  <%= more_wrapped @transaction.class.name.downcase do %>
    <div class="form-row">
      <%= f.input :coefficient, wrapper_class: 'form-group w-sm-200' %>
    </div>
    <div class="form-row">
      <%= f.input :notes %>
    </div>
  <% end %>
  <% content_for :confirmation_body do
    t('views.confirmation.discard.transaction.body', amount: tag.b(currency_precise_number(f.object.amount, f.object.account.currency, unit: true)), model: f.object.model_name.human)
    end %>
  <%= render 'form_buttons', f: f %>
<% end %>