<%= simple_form_for @transaction,  defaults: { wrapper_html: { class: 'col-md' } } do |f| %>
  
  <%= f.error_notification %>

  <div class="form-row">
  	<%= f.input :date, as: :string, wrapper_html: {class: :date}, required: true %>
	  <%= f.association :account %>
  </div>
  <div class="form-row">
	<%= f.association :counter_party %>
	<%= f.input :amount, as: :currency, required: true %>
  </div>
  <div class="form-row">
  </div>

  <%= link_to "Ortga", transactions_path, class: "btn btn-outline-secondary" %>
  <%= f.button :submit, class: "btn-primary float-right" %>
<% end %>
<!-- 
<%= semantic_form_for @transaction do |f| %>
	<div class="row">
		<%= f.input :account, prompt: :Tanlang, 
			wrapper_html: {class: "col-md-6 mb-3"}, input_html: {class: "form-control"} %>
		<%= f.input :counter_party, prompt: :Tanlang,
 			wrapper_html: {class: "col-md-6 mb-3"}, input_html: {class: "form-control"} %>
	</div>
	<%= f.action :submit, button_html: {class: "btn btn-primary"} %>
	
<% end %> -->