<%= simple_form_for @transaction, defaults: { wrapper_html: { class: 'col-md' } } do |f| %>

  <%= f.error_notification %>

  <div class="form-row">
    <%= f.input :type_id, label: "#{type_name} turi", selected: 0, collection: Transaction.all_types[type_name] %>
    <%= f.input :date, as: :date_picker %>
  </div>

  <%= f.association :account, as: :account, selected: 1 %> <!-- TODO: Selected should be user default-->

  <div class="form-row">
    <%= f.association :counter_party %>
    <%= f.input :amount, as: :currency %>
  </div>
  <%= more_wrapped do %>
    <div class="form-row">
      <%= f.input :coefficient %>
    </div>
    <div class="form-row">
      <%= f.input :notes %>
    </div>
  <% end %>
  <%= render 'layouts/form_buttons', f: f %>
<% end %>