<%= simple_form_for @transaction,  defaults: { wrapper_html: { class: 'col-md' } } do |f| %>
  
  <%= f.error_notification %>

  <div class="form-row">
  	<%= f.input :date, label: "Sana (kun.oy.yil)", required: true, input_html: {value: (Date.today-1).strftime("%d.%m.%y")} %>
	  <%= f.association :account, prompt: "Hisobni tanlang" %>
  </div>
  <div class="form-row">
    <%= f.association :counter_party, label: "Ikkinchi tomon" %>
    <%= f.input :amount, label: "Qiymati", as: :currency, required: true %>
  </div>
  <div class="form-row">
    <%= f.input :coefficient, label: "Koeffitsient (%)" %>
  </div>  <div class="form-row">
    <%= f.input :notes, label: 'Qaydlar' %>
  </div>

  <%= link_to "Ortga", transactions_path, class: "btn btn-outline-secondary" %>
  <%= f.button :submit, text, class: "btn-primary float-right" %>
<% end %>