<p id="notice"><%= notice %></p>
<h1>Pul aylanmalari</h1>

<%= link_to "Yangi kirim", new_in_transactions_path %>
<%= link_to "Yangi kirim", new_in_transactions_path %>
<%= link_to "Yangi kirim", new_in_transactions_path %>

<div class="col">
  <%#= datagrid_form_for @transactions_grid, url: transactions_path %>

  <div class='total'>Total: <%= @transactions_grid.assets.count %></div>
  <%= datagrid_table @transactions_grid, html: {class: "table table-hover table-light table-responsive"} %>
  <%= paginate @transactions_grid.assets %>
</div>