<div class="col">
	<h1>Pul aylanmalari</h1>
		<%= link_to "+ Yangi tushum", new_in_transactions_path, class: "btn btn-success" %>
		<%= link_to "+ Yangi chiqim", new_in_transactions_path, class: "btn btn-danger" %>
		<%= link_to "+ Boshqa", new_in_transactions_path, class: "btn btn-secondary" %>
	<div class="row my-3">
		<div class="col-md-9 order-2 order-md-1">

			<div class='total'>Total: <%= @transactions_grid.assets.count %></div>
			<%= datagrid_table @transactions_grid, html: {class: "table table-hover table-light table-responsive"} %>
			<%= paginate @transactions_grid.assets %>
		</div>


		<div class="col-md-3 order-1 order-md-2 my-3">
			<%= datagrid_form_for @transactions_grid, url: transactions_path %>
		</div>
	</div>
</div>