<div class="col-md-8">
<div>
  <strong>Title:</strong>
  <%= @transaction.title %>
</div>
 
<div>
  <strong>Description:</strong>
  <%= @transaction.description %>
</div>

<div>
  <strong>Description:</strong>
  <%= @transaction.description %>
</div>

<div>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</div>

<div>
  <strong>Date:</strong>
  <%= @transaction.date %>
</div>

<div>
  <strong>Account:</strong>
  <%= @transaction.account.name %>
</div>

<div>
  <strong>Type:</strong>
  <%= @transaction.type %>
</div>
</div>