<div class="d-sm-flex">
  
  <div class="d-none d-sm-flex mr-sm-auto">
	  <%= link_to icon('chevron-left')+' '+t('views.back'), controller_path, class: " btn btn-outline-secondary" %>
	</div>
  
  <%= f.button :button, type: :submit, class: "btn-primary mx-1" do %>
  	<%= icon 'plus' %> <%= t 'helpers.submit.create', model: f.object.model_name.human %>
	<%end%>
  
  <% if f.object.persisted? %>
	
	  <%=button_tag icon('trash-alt')+' '+t('helpers.submit.discard'),
	  	type: :button, name: nil, class: 'btn btn-outline-danger', data: {
	  	controller: 'confirmation',
	  	confirmation_title: t('views.confirmation.discard.title', model: f.object.model_name.human),
	  	confirmation_body: yield(:confirmation_body).presence ||
	  		t('views.confirmation.discard.body', model: f.object.model_name.human,
	  			date: tag.b(l f.object.created_at, format: :short)),
	  	confirmation_action: t('views.confirmation.discard.action', model: f.object.model_name.human),
	  	confirmation_url: url_for(id:f.object.id, action: :discard, controller: controller_name, only_path: true)
	  }%>
  
  <% else %>

	  <%= f.button :button, name: :create_and_new, class: "btn-outline-info" do %>
	  	<%=icon('chevron-circle-right') + t('helpers.submit.create_and_new') %>
	  <% end %>
  
  <% end %>
</div>