<nav class="nav-left collapsed">
  <a href="javascript:void(0)" class="btn-expand" onclick="toggleOpen(event)"><%= icon 'list'%></a>
  <ul class="navbar-menu">
    <li>
      <% [[transactions_path, 'money-bill-alt', Transaction],
          [products_path, 'apple-alt', Product],
          [counter_parties_path, 'user-friends', CounterParty],
          [categories_path, 'shapes', Category]
      ].each do |el| %>
        <%= link_to el[0], title: el[2].model_name.human do %>
          <%=icon el[1]%>
        	<span class="nav-label">
            <%=el[2].model_name.human %>
          </span>
        <% end %>
      <% end %>
      <%= link_to root_path, title: 'Bosh sahifaga (Hisob)' do %><%=icon 'home'%>
        <span class="nav-label">Home</span><% end %>
    </li>
  </ul>
</nav>