<!DOCTYPE html>
<html>
<head>
	<title><%= title = yield(:title).presence || title_of_page %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
	<%= csp_meta_tag %>

	<%= javascript_pack_tag 'application', defer: true %>
	<%= stylesheet_pack_tag 'application' %>

</head>

<body>

	<%= render 'application/menu' %>

	<div class="main-content">

		<%= render 'application/flash' %>

		<div class="container mb-3">

			<h1><%= title %></h1>		

			<% if content = yield(:custom_yield).presence %>
				<%= content %>
			<% else %>
				<div class="row">

					<div class="col-md-<%=col=@col||8%>">
						<%= yield %>		
					</div>

					<aside class="col-md-<%=12-col%> mt-2 mt-md-0">
						<%= yield :aside %>		
					</aside>
				</div>
			<%end-%>

		</div>

	</div>

</body>
</html>
