<%= simple_form_for(@account) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :company %>
    <%= f.association :currency %>
    <%= f.input :is_bank_account %>
    <%= f.input :bank_account_number %>
  </div>

  <%= render 'common/form_buttons', f: f %>
  </div>

<% end %>
