<%= simple_form_for(@account) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :company %>
    <%= f.association :currency %>
    <%= more_wrapped 'account', show_check_box: true,
      toggle_text: t('attributes.is_bank_account'),
      checked: f.object.bank_account_number? do %>
      <%= f.input :bank_account_number %>
    <%end%>
  </div>

  <%= render 'common/form_buttons', f: f %>
  </div>

<% end %>
